<% include ../partials/header %>
    <div id="indexContainer">
    <div id="indexOverlay">
        <h1>Start Munchin</h1>

        <h2>These spots are submitted from users just like you!</h2>

        <button class="baseButton" id="indexButton" onclick="location.href='/restaurants/new'">
            Add a new restaurant!
        </button>
    </div>
</div>

<div id="indexDynamicHalfContainer">
    <div id="restaurantHeaderContainer">
        <h1 id="restaurantHeader">Restaurants</h1>
    </div>
    <div id="restaurantContainer">
        <% restaurants.forEach(function(restaurant){ %>
            <div class="restaurant">
                <img src="<%= restaurant.image %>" >
                <div class="restaurantInfoContainer">
                    <h1><%= restaurant.name %></h1>
                    <!-- <h2> Specialty: <%= restaurant.specialty %> </h2> -->
                    <h3>Description: <%= restaurant.description %></h3>
                    <a href="/restaurants/<%=restaurant._id %>">More info</a>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<%include ../partials/footer %>