<% include ../partials/header %>


    <h1><%= restaurant.name %></h1>
    <img src="<%= restaurant.image %>" >
    <h2> Specialty: <%= restaurant.specialty %> </h2>
    <h3>Description: <%= restaurant.description %></h3>


    <form action="/restaurants/<%=restaurant._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>

    <a href="/restaurants/<%= restaurant._id %>/comments/new">Add a new comment</a>

    <hr>
    <% restaurant.comments.forEach(function(comment){ %>
        <p>
            <strong><%= comment.author %></strong> - <%= comment.text %>
        </p>
    <% }); %>



<% include ../partials/footer %>